 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 133px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 11px auto 0 230px;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  letter-spacing: 2px;
  width: 680px;
  font-weight: 300;
  margin: 0 auto 11px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 173px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 109px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 234px;
}

.u-section-2 .u-icon-1 {
  width: 105px;
  height: 105px;
  margin: 44px auto 0;
  padding: 0;
}

.u-section-2 .u-text-1 {
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 1.125rem;
  margin: 13px auto 44px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }
}