.u-section-1 .u-sheet-1 {
  min-height: 1091px;
}

.u-section-1 .u-shape-1 {
  width: 1992px;
  height: 1016px;
  background-image: linear-gradient(230deg, #b6e1cd, #27d287);
  margin: 74px auto 0 -1534px;
}

.u-section-1 .u-shape-2 {
  width: 295px;
  height: 658px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: -873px auto 0 200px;
}

.u-section-1 .u-image-1 {
  width: 344px;
  height: 616px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -637px auto 0 226px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: 3px;
  margin: -571px 220px 0 413px;
}

.u-section-1 .u-line-1 {
  width: 186px;
  transform-origin: right center 0px;
  margin: 0 220px 0 auto;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 9px 222px 0 570px;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 9px 220px 0 652px;
}

.u-section-1 .u-text-4 {
  line-height: 2;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 9px 220px 0 608px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 1px;
  font-size: 1rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  font-weight: 500;
  margin: 163px 220px 60px auto;
  padding: 6px 32px 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-shape-2 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-1 {
    margin-right: 120px;
    margin-left: 313px;
  }

  .u-section-1 .u-line-1 {
    height: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 122px;
    margin-left: 470px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 120px;
    margin-left: 575px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 120px;
    margin-left: 508px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 10px;
    margin-left: 203px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 12px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 10px;
    margin-left: 451px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 10px;
    margin-left: 398px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 196px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 33px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -12px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 24px;
    margin-right: 0;
    margin-left: 192px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 271px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 228px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1084px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -219px;
    margin-left: 45px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 609px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -536px;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: -32px;
    margin-right: 154px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 114px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -80px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 28px;
  }
}