 .u-section-1 {
  background-image: none;
  min-height: 709px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 709px;
}

.u-section-1 .u-container-layout-1 {
  padding: 23px 0;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px 37px 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  width: 415px;
  font-weight: 300;
  margin: 29px auto 0;
}

.u-section-1 .u-line-1 {
  width: 297px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  border-style: double;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 415px;
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 415px;
  letter-spacing: 1px;
  margin: -1px auto 0;
}

.u-section-1 .u-text-5 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 415px;
  font-weight: 700;
  margin: 6px auto 0;
}

.u-section-1 .u-text-6 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 415px;
  letter-spacing: 1px;
  margin: -1px auto 0;
}

.u-section-1 .u-text-7 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 415px;
  font-weight: 700;
  margin: 6px auto 0;
}

.u-section-1 .u-text-8 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 415px;
  letter-spacing: 1px;
  margin: -1px auto 0;
}

.u-section-1 .u-text-9 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 415px;
  font-weight: 700;
  margin: 6px auto 0;
}

.u-section-1 .u-text-10 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 415px;
  letter-spacing: 1px;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 415px;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-text-12 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 415px;
  letter-spacing: 1px;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 709px;
  background-image: linear-gradient(230deg, #b6e1cd, #adf6f2);
}

.u-section-1 .u-container-layout-2 {
  padding: 0 24px 23px;
}

.u-section-1 .u-image-1 {
  width: 571px;
  height: 321px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 8px auto 0 21px;
}

.u-section-1 .u-image-2 {
  width: 571px;
  height: 321px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 14px auto 0 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1151px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 777px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 21px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 19px;
    width: 376px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 47px;
  }

  .u-section-1 .u-text-3 {
    width: 423px;
  }

  .u-section-1 .u-text-4 {
    width: 423px;
  }

  .u-section-1 .u-text-5 {
    width: 423px;
  }

  .u-section-1 .u-text-6 {
    width: 423px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 88px;
    width: 423px;
  }

  .u-section-1 .u-text-8 {
    width: 423px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -54px;
    width: 423px;
  }

  .u-section-1 .u-text-10 {
    width: 423px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -35px;
    width: 423px;
  }

  .u-section-1 .u-text-12 {
    width: 423px;
  }

  .u-section-1 .u-btn-1 {
    border-style: none none solid;
    margin-top: 144px;
    margin-left: 5px;
    padding: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 585px;
  }

  .u-section-1 .u-image-1 {
    width: 516px;
    height: 290px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 516px;
    height: 290px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 413px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
    width: 288px;
  }

  .u-section-1 .u-line-1 {
    width: 324px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: 324px;
  }

  .u-section-1 .u-text-4 {
    width: 324px;
  }

  .u-section-1 .u-text-5 {
    width: 324px;
  }

  .u-section-1 .u-text-6 {
    width: 324px;
  }

  .u-section-1 .u-text-7 {
    width: 324px;
  }

  .u-section-1 .u-text-8 {
    width: 324px;
  }

  .u-section-1 .u-text-9 {
    width: 324px;
  }

  .u-section-1 .u-text-10 {
    width: 324px;
  }

  .u-section-1 .u-text-11 {
    width: 324px;
  }

  .u-section-1 .u-text-12 {
    width: 324px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-1 .u-image-1 {
    width: 384px;
    height: 216px;
  }

  .u-section-1 .u-image-2 {
    width: 384px;
    height: 216px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -32px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 147px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 803px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-5 {
    margin-left: -42px;
    margin-right: -42px;
  }

  .u-section-1 .u-text-6 {
    margin-left: -42px;
    margin-right: -42px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -51px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 119px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 180px;
  }
}